[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-uploader = "*"
dash-canvas = "*"
matplotlib = "*"
keras = "*"
tensorflow = "*"
pycocotools = "*"
opencv-python = "*"
dash-player = "*"
dash_daq = "*"
dash-bootstrap-components = "*"
tqdm = "*"
datetime = "*"
dict2obj = "*"

pandas = "*"
wget = "*"

kaleido = "*"

[dev-packages]

[requires]
python_version = "3.10"
